<h1>Magic Github Explorer</h1>

<p>
  <img class="img_c" src="http://img.kuqin.com/upimg/allimg/150928/1U5521E5-10.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="Github_cat">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid amet asperiores assumenda
  at blanditiis commodi culpa dolores ducimus eaque expedita explicabo hic in inventore ipsam itaque magni
  maiores, maxime molestiae nihil obcaecati odit, placeat porro praesentium quae qui quisquam recusandae
  repellendus sit tempore totam velit voluptatem voluptatum. Aspernatur assumenda beatae debitis est eveniet
  laboriosam minus perspiciatis ut. Impedit, quod vitae? Ab animi aspernatur cupiditate esse et ex facilis,
  iste laudantium pariatur sint? Ad consectetur debitis fuga fugiat fugit incidunt laborum, minus nam
  necessitatibus obcaecati officia, provident sequi, tempore vero voluptate. Consequuntur expedita in
  itaque odit, tempore temporibus. Eos, tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit
  . Accusamus consequuntur cupiditate dolor
  et ex illo maxime minima molestias nam nobis obcaecati odio repudiandae, sapiente sed similique sunt ut voluptates. Id.
</p>

